<div class="profile-page">
  <h3><%= @proposal.title %></h3>
  <hr />

  <h4>About the Creative:</h4>
  <p><%= @proposal.about %></p>
  <hr />

  <h4>About the Proposal:</h4>
  <p><%= @proposal.description %></p>
  <hr />

</div>
